@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap");

/* font-family: 'Raleway', sans-serif;
font-family: 'Open Sans', sans-serif; */

:root {
  /* ### Primary */

  --very_dark_blue: hsl(243, 87%, 12%);
  --desaturated_blue: hsl(238, 22%, 44%);

  /* ### Accent */

  --bright_blue: hsl(224, 93%, 58%);
  --moderate_cyan: hsl(170, 45%, 43%);

  /* ### Neutral */

  --light_grayish_blue: hsl(240, 75%, 98%);
  --light_gray: hsl(0, 0%, 75%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 0;
}

h1,
h2,
h3,
h4,
button,
nav {
  font-family: "Raleway", sans-serif;
  color: var(--very_dark_blue);
}

h1,
h2,
h3,
h5 {
  font-weight: 700;
}

button,
nav {
  font-weight: 400;
}

p,
nav,
button,
a {
  font-size: 12px;
  color: var(--very_dark_blue);
}

button {
  color: #fff;
  background: var(--bright_blue);
  padding: 10px 30px;
  border: none;
  border-radius: 2px;
}

ul {
  list-style-type: none;
  margin: 0;
}

a {
  text-decoration: none;
}

input {
  padding: 8px 20px;
  border-radius: 2px;
  border: 1px solid var(--light_gray);
}
input::placeholder {
  color: var(--light_gray);
}

img {
  max-width: 100%;
}

.container {
  max-width: 100%;
  width: 1000px;
  margin: 0 auto;
  padding: 30px;
}
.flex {
  display: flex;
}
.flex > div,
.flex > ul {
  flex: 1;
}

.flex > div:first-child {
  margin-right: 20px;
}

.flex > div:last-child {
  margin-left: 20px;
}

/* navbar  */

nav {
  margin-bottom: 40px;
}
nav .container {
  align-items: center;
  justify-content: space-between;
}
nav img {
  width: 30%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav ul li {
  margin-left: 30px;
}

/* header  */

header {
  margin: 30px 0;
}

/* curve section  */
.curve_section {
  background: var(--light_grayish_blue);
  margin: 100px 0;
  padding: 40px 0;
  position: relative;
  margin-bottom: 0;
}
.curve_section::before {
  content: "";
  width: 100%;
  height: 61px;
  background-image: url(./images/bg-curve-desktop.svg);
  background-size: cover;
  position: absolute;
  top: -61px;
  left: 0;
  z-index: 1;
}

.curve_section h2 {
  font-size: 2em;
}

.special-link {
  display: inline-block;
  text-align: center;
  color: var(--moderate_cyan);
  padding-bottom: 5px;
  border-bottom: 1px solid var(--moderate_cyan);
}
.special-link img {
  margin-bottom: -5px;
}

.testimonial {
  margin-top: 20px;
  width: 70%;
  padding: 15px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.user-info {
  display: flex;
}
.user-info h5 {
  margin: 0;
}
.user-info p {
  margin: 0;
}
.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/* dark section  */

.dark-section {
  background: var(--desaturated_blue);
}
.dark-section p,
.dark-section h3 {
  color: #fff;
}

/* .dark-section .container {
  padding: 0;
} */
.dark-section .flex {
  align-items: center;
}
.dark-section .flex > div:first-child {
  flex: 0.8;
  margin-right: 20%;
}

.dark-section input {
  width: 80%;
  border: none;
}

.dark-section button {
  margin-top: 10px;
}

/* footer  */

footer {
  padding: 30px 0;
  background: var(--very_dark_blue);
}
footer a,
footer li > p {
  color: #fff;
}
footer img {
  width: 20%;
}

.info {
  flex-basis: 20%;
}

.info p > img {
  width: 5%;
  margin-right: 5px;
}

.social {
  display: flex;
}
.social li {
  margin-left: 10px;
}
.social a {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #fff;
  text-align: center;
  padding: 1px;
}

@media screen and (max-width: 768px) {
  .container {
    text-align: center;
  }
  .flex {
    flex-direction: column-reverse;
  }

  /* navbar  */
  nav .container {
    flex-direction: row;
    padding-left: 10px;
  }

  nav img {
    width: 70%;
  }

  nav .flex > ul {
    flex: 2;
    padding-left: 0;
  }

  nav .flex > ul > li:first-child {
    margin-left: 0;
  }
  /* header */

  header input,
  header button {
    width: 100%;
    margin-top: 20px;
  }

  /* curve section  */

  .curve_section h2 {
    font-size: 1.4em;
  }

  .curve_section p {
    text-align: left;
    color: var(--light_gray);
  }

  .special-link {
    margin: 10px 0;
  }

  .testimonial {
    width: 100%;
    text-align: left;
  }

  /* dark section  */
  .dark-section .flex {
    flex-direction: column;
  }

  .dark-section .flex > div:first-child {
    margin: 0 20px;
    margin-bottom: 10px;
  }

  .dark-section .flex > div:last-child {
    margin-left: 0;
  }

  .dark-section form button {
    width: 80%;
  }

  /* footer  */

  footer .container {
    text-align: left;
  }

  footer .logo {
    width: 30%;
  }

  footer .flex {
    flex-direction: column;
  }

  .info p > img {
    width: 3%;
  }

  footer .flex ul {
    padding-left: 0;
    margin-bottom: 20px;
  }

  footer ul li {
    margin-bottom: 8px;
  }

  footer .social {
    justify-content: center;
  }
}
